<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-hms-account"
    version="5.0.3-303">

    <name>cordova-plugin-hms-account</name>
    <description>cordova-plugin-hms-account</description>
    <license>Apache 2.0</license>
    <keywords>cordova, hms, android, plugin, huawei, account</keywords>

    <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    </config-file>


    <js-module src="www/utils.js" name="utils">
    </js-module>

    <js-module src="www/HMSCommonTypes.js" name="HMSCommonTypes">
        <clobbers target="HMSCommonTypes" />
    </js-module>

    <js-module src="www/HMSAccount.js" name="HMSAccount">
        <clobbers target="HMSAccount" />
    </js-module>

	<js-module src="www/HMSHuaweiIdAuthButton.js" name="HMSHuaweiIdAuthButton">
        <clobbers target="HMSHuaweiIdAuthButton" />
    </js-module>

	<js-module src="www/HMSHuaweiIdAuthManager.js" name="HMSHuaweiIdAuthManager">
        <clobbers target="HMSHuaweiIdAuthManager" />
    </js-module>

	<js-module src="www/HMSHuaweiIdAuthTool.js" name="HMSHuaweiIdAuthTool">
        <clobbers target="HMSHuaweiIdAuthTool" />
    </js-module>

	<js-module src="www/HMSNetworkTool.js" name="HMSNetworkTool">
        <clobbers target="HMSNetworkTool" />
    </js-module>

	<js-module src="www/HMSReadSMSManager.js" name="HMSReadSMSManager">
        <clobbers target="HMSReadSMSManager" />
    </js-module>


    <!-- android -->
    <platform name="android">

		<hook type="after_plugin_install" src="hooks/after_plugin_install.js" />
		<hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall.js" />

        <!-- Android dependencies -->
        <framework src="com.huawei.hms:hwid:5.0.3.302" />
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference"></framework>

        <config-file target="config.xml" parent="/*">
            <feature name="HMSAccount" >
                <param name="android-package" value="com.huawei.hms.cordova.account.HMSAccount"/>
            </feature>

			<feature name="HMSHuaweiIdAuthManager" >
                <param name="android-package" value="com.huawei.hms.cordova.account.HMSHuaweiIdAuthManager"/>
            </feature>

			<feature name="HMSHuaweiIdAuthTool" >
                <param name="android-package" value="com.huawei.hms.cordova.account.HMSHuaweiIdAuthTool"/>
            </feature>

			<feature name="HMSNetworkTool" >
                <param name="android-package" value="com.huawei.hms.cordova.account.HMSNetworkTool"/>
            </feature>

			<feature name="HMSReadSMSManager" >
                <param name="android-package" value="com.huawei.hms.cordova.account.HMSReadSMSManager"/>
            </feature>

        </config-file>

		<asset src="www/images/hw_logo_btn_red.png" target="img/hw_logo_btn_red.png" />
		<asset src="www/images/hw_logo_btn_white.png" target="img/hw_logo_btn_white.png" />

        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/HMSAccount.java" target-dir="src/com/huawei/hms/cordova/account" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/HMSHuaweiIdAuthManager.java" target-dir="src/com/huawei/hms/cordova/account" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/HMSHuaweiIdAuthTool.java" target-dir="src/com/huawei/hms/cordova/account" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/HMSNetworkTool.java" target-dir="src/com/huawei/hms/cordova/account" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/HMSReadSMSManager.java" target-dir="src/com/huawei/hms/cordova/account" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/CordovaPluginWithLoggerAndExceptions.java" target-dir="src/com/huawei/hms/cordova/account" />
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/helpers/Constants.java" target-dir="src/com/huawei/hms/cordova/account/helpers" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/helpers/SMSBroadcastReceiver.java" target-dir="src/com/huawei/hms/cordova/account/helpers" />
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/helpers/HMSCordovaException.java" target-dir="src/com/huawei/hms/cordova/account/helpers" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/utils/ExceptionUtils.java" target-dir="src/com/huawei/hms/cordova/account/utils" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/utils/HMSAccountUtils.java" target-dir="src/com/huawei/hms/cordova/account/utils" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/logger/HMSLogger.java" target-dir="src/com/huawei/hms/cordova/account/logger" />
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/exceptions/NullMessageDigestException.java" target-dir="src/com/huawei/hms/cordova/account/exception" />
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/exceptions/NullServiceException.java" target-dir="src/com/huawei/hms/cordova/account/exception" />
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/account/exceptions/TimeOutException.java" target-dir="src/com/huawei/hms/cordova/account/exception" />

    </platform>

</plugin>

