<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-hms-scan" version="2.12.0-301" android="http://schemas.android.com/apk/res/android" xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>
		HMS Scan
	</name>
	<description>
		Cordova HMS Scan Plugin
	</description>
	<license>
		Apache 2.0
	</license>
	<keywords>
		cordova,scan,hms-scan,huawei-scan,hms,huawei,hmsscan
	</keywords>
	<js-module src="www/HMSScan.js" name="HMSScan">
		<clobbers target="HMSScan" />
	</js-module>
	<js-module src="www/CustomView.js" name="CustomView">
		<clobbers target="CustomView" />
	</js-module>
	<js-module src="www/MultiProcessor.js" name="MultiProcessor">
		<clobbers target="MultiProcessor" />
	</js-module>
	
	<js-module name="interfaces" src="www/interfaces.js">
	</js-module>
	<js-module name="index" src="www/index.js">
	</js-module>
	<js-module name="util" src="www/util.js">
	</js-module>
	<platform name="android">
		<hook src="hooks/after_plugin_install.js" type="after_plugin_install" />
		<hook src="hooks/before_plugin_uninstall.js" type="before_plugin_uninstall" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="HMSScan">
				<param name="android-package" value="com.huawei.hms.cordova.scan.HMSScan" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		</config-file>
		<framework src="com.huawei.hms:scan:2.12.0.301" />
		<framework src="com.huawei.hms:stats:6.12.0.300" />
		<framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/draw/CameraOperation.java" target-dir="src/com/huawei/hms/cordova/scan/backend/draw" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/draw/CommonHandler.java" target-dir="src/com/huawei/hms/cordova/scan/backend/draw" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/draw/ScanResultView.java" target-dir="src/com/huawei/hms/cordova/scan/backend/draw" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/helpers/Constants.java" target-dir="src/com/huawei/hms/cordova/scan/backend/helpers" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/helpers/Exceptions.java" target-dir="src/com/huawei/hms/cordova/scan/backend/helpers" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/helpers/OnViewLifecycle.java" target-dir="src/com/huawei/hms/cordova/scan/backend/helpers" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/layout/InitialProps.java" target-dir="src/com/huawei/hms/cordova/scan/backend/layout" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/layout/PxToPixelConverter.java" target-dir="src/com/huawei/hms/cordova/scan/backend/layout" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/layout/PluginLayout.java" target-dir="src/com/huawei/hms/cordova/scan/backend/layout" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/layout/PluginLayoutManager.java" target-dir="src/com/huawei/hms/cordova/scan/backend/layout" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/layout/OnViewLayoutScroll.java" target-dir="src/com/huawei/hms/cordova/scan/backend/layout" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/utils/CordovaUtils.java" target-dir="src/com/huawei/hms/cordova/scan/backend/utils" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/utils/JSONUtils.java" target-dir="src/com/huawei/hms/cordova/scan/backend/utils" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/utils/Mapper.java" target-dir="src/com/huawei/hms/cordova/scan/backend/utils" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/backend/utils/JSONMapper.java" target-dir="src/com/huawei/hms/cordova/scan/backend/utils" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/CustomViewModule.java" target-dir="src/com/huawei/hms/cordova/scan" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/HMSScan.java" target-dir="src/com/huawei/hms/cordova/scan" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/HMSScanModule.java" target-dir="src/com/huawei/hms/cordova/scan" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/ViewBaseModule.java" target-dir="src/com/huawei/hms/cordova/scan" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/MultiProcessorModule.java" target-dir="src/com/huawei/hms/cordova/scan" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/CordovaBaseModule.java" target-dir="src/com/huawei/hms/cordova/scan/basef/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/CordovaEvent.java" target-dir="src/com/huawei/hms/cordova/scan/basef/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/CordovaMethod.java" target-dir="src/com/huawei/hms/cordova/scan/basef/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/CordovaRule.java" target-dir="src/com/huawei/hms/cordova/scan/basef/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/HMSLog.java" target-dir="src/com/huawei/hms/cordova/scan/basef/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/CorPack.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/CordovaController.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/CordovaEventRunner.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/CordovaModuleGroupHandler.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/CordovaModuleHandler.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/HMSLogger.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/CorError.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/CorException.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/CorLog.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/scan/basef/handler/Promise.java" target-dir="src/com/huawei/hms/cordova/scan/basef/handler/" />
		<source-file src="src/android/src/main/res/cloors.xml" target-dir="res/drawable" />
	</platform>
</plugin>
