<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-hms-scan" version="1.2.3-300" xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>cordova-plugin-hms-scan</name>
  <description>cordova-plugin-hms-scan</description>
  <license>Apache 2.0</license>
  <keywords>cordova,scan,huawei,hms</keywords>

  <repo>git+https://github.com/HMS-Core/hms-cordova-plugin.git</repo>
  <issue>https://github.com/HMS-Core/hms-cordova-plugin/issues</issue>

  <js-module src="www/HMSScan.js" name="HMSScan">
    <clobbers target="HMSScan" />
  </js-module>
  <js-module src="www/Interfaces.js" name="Interfaces" />

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="HMSScan">
        <param name="android-package" value="com.huawei.hms.cordova.scan.HMSScan" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.huawei.hms.cordova.scan.CommonActivity" android:screenOrientation="portrait" />
      <activity android:name="com.huawei.hms.cordova.scan.CustomViewActivity" android:screenOrientation="portrait" />
    </config-file>

    <framework src="com.huawei.hms:scan:1.2.3.300" />
    <framework src="com.huawei.hms:stats:5.0.3.301" />
    <framework src="com.google.code.gson:gson:2.8.5" />
    <framework src="resources/plugin.gradle" custom="true" type="gradleReference" />

    <hook src="hooks/after_plugin_install.js" type="after_plugin_install" />
    <hook src="hooks/before_plugin_uninstall.js" type="before_plugin_uninstall" />

    <source-file src="src/main/java/com/huawei/hms/cordova/scan/draw/CameraOperation.java" target-dir="src/com/huawei/hms/cordova/scan/draw" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/draw/CommonHandler.java" target-dir="src/com/huawei/hms/cordova/scan/draw" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/draw/ScanResultView.java" target-dir="src/com/huawei/hms/cordova/scan/draw" />

    <source-file src="src/main/java/com/huawei/hms/cordova/scan/helpers/GenerateBarcodeProps.java" target-dir="src/com/huawei/hms/cordova/scan/helpers" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/helpers/JSONMapper.java" target-dir="src/com/huawei/hms/cordova/scan/helpers" />

    <source-file src="src/main/java/com/huawei/hms/cordova/scan/utils/CordovaUtils.java" target-dir="src/com/huawei/hms/cordova/scan/utils" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/utils/HMSLogger.java" target-dir="src/com/huawei/hms/cordova/scan/utils" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/utils/JSONUtils.java" target-dir="src/com/huawei/hms/cordova/scan/utils" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/utils/Mapper.java" target-dir="src/com/huawei/hms/cordova/scan/utils" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/utils/PermissionUtils.java" target-dir="src/com/huawei/hms/cordova/scan/utils" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/utils/ScanError.java" target-dir="src/com/huawei/hms/cordova/scan/utils" />

    <source-file src="src/main/java/com/huawei/hms/cordova/scan/CommonActivity.java" target-dir="src/com/huawei/hms/cordova/scan" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/CustomViewActivity.java" target-dir="src/com/huawei/hms/cordova/scan" />
    <source-file src="src/main/java/com/huawei/hms/cordova/scan/HMSScan.java" target-dir="src/com/huawei/hms/cordova/scan" />

    <source-file src="src/main/res/layout/activity_common.xml" target-dir="res/layout" />
    <source-file src="src/main/res/layout/activity_defined.xml" target-dir="res/layout" />
    <source-file src="src/main/res/drawable-port-mdpi/back.png" target-dir="res/drawable" />
    <source-file src="src/main/res/drawable-port-mdpi/cloors.xml" target-dir="res/drawable" />
    <source-file src="src/main/res/drawable-port-mdpi/photo.png" target-dir="res/drawable" />
    <source-file src="src/main/res/drawable-port-mdpi/flashlight_off.png" target-dir="res/drawable" />
    <source-file src="src/main/res/drawable-port-mdpi/flashlight_on.png" target-dir="res/drawable" />
  </platform>
  
</plugin>
