<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-hms-iap" version="5.0.2.300">

    <name>cordova-plugin-hms-iap</name>
    <description>cordova-plugin-hms-iap</description>
    <license>Apache 2.0</license>
    <keywords>cordova,hms,huawei</keywords>

    <js-module src="www/utils.js" name="utils" />

    <js-module src="www/HMSInAppPurchases.js" name="HMSInAppPurchases">
        <clobbers target="HMSInAppPurchases" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <hook type="after_plugin_install" src="hooks/after_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall.js" />

        <!-- Android dependencies -->
        <framework src="com.huawei.hms:iap:5.0.2.300" />
        <framework src="resources/plugin.gradle" custom="true" type="gradleReference" />

        <config-file target="config.xml" parent="/*">
            <feature name="HMSInAppPurchases">
                <param name="android-package" value="com.huawei.hms.cordova.inapppurchases.HMSInAppPurchases" />
            </feature>
        </config-file>

        <source-file src="src/main/java/com/huawei/hms/cordova/inapppurchases/HMSInAppPurchases.java" target-dir="src/com/huawei/hms/cordova/inapppurchases" />
        <source-file src="src/main/java/com/huawei/hms/cordova/inapppurchases/utils/Constants.java" target-dir="src/com/huawei/hms/cordova/inapppurchases/utils" />
        <source-file src="src/main/java/com/huawei/hms/cordova/inapppurchases/utils/JSONUtils.java" target-dir="src/com/huawei/hms/cordova/inapppurchases/utils" />
        <source-file src="src/main/java/com/huawei/hms/cordova/inapppurchases/utils/Mapper.java" target-dir="src/com/huawei/hms/cordova/inapppurchases/utils" />
        <source-file src="src/main/java/com/huawei/hms/cordova/inapppurchases/utils/ObjectUtils.java" target-dir="src/com/huawei/hms/cordova/inapppurchases/utils" />
        <source-file src="src/main/java/com/huawei/hms/cordova/inapppurchases/logger/HMSLogger.java" target-dir="src/com/huawei/hms/cordova/inapppurchases/logger" />
    </platform>
</plugin>
