<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-hms-analytics" version="5.1.0-301" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/main">
    <name>HMS Analytics</name>
    <description>Cordova HMS Analytics Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, android, ios, plugin, huawei, hms, hms-analytics, analytics</keywords>

    <repo>git+https://github.com/HMS-Core/hms-cordova-plugin.git</repo>
    <issue>https://github.com/HMS-Core/hms-cordova-plugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="cordova-plugin-hms-analytics" src="www/HMSAnalytics.js">
        <clobbers target="HMSAnalytics" />
    </js-module>
    <js-module name="utils" src="www/utils.js"/>
    
    <platform name="android">

        <hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall.js" />
        <hook type="after_plugin_install" src="hooks/after_plugin_install.js" />

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference"/>
        <framework src="com.huawei.hms:hianalytics:5.1.0.300" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />
        </config-file>

		<config-file target="config.xml" parent="/*">
            <feature name="HMSAnalytics">
                <param name="android-package" value="com.huawei.hms.cordova.analytics.HMSAnalytics" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <provider android:authorities="${applicationId}.CordovaHMSAnalyticsProvider" android:name="com.huawei.hms.cordova.analytics.HMSAnalyticsContentProvider" android:exported="false" />
        </config-file>

        <!-- basef -->
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/CordovaBaseModule.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/CordovaEvent.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/CordovaMethod.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/HMSLog.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/handler/CorPack.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/handler/CordovaController.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/handler/CordovaEventRunner.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/handler/CordovaModuleGroupHandler.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/handler/CordovaModuleHandler.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/handler/HMSLogger.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/handler/NoSuchCordovaModuleException.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/basef/handler/Promise.java" target-dir="src/com/huawei/hms/cordova/analytics/basef/handler/"/>
		
        <!-- analytics -->
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/HMSAnalytics.java" target-dir="src/com/huawei/hms/cordova/analytics" />
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/HMSAnalyticsModule.java" target-dir="src/com/huawei/hms/cordova/analytics" />
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/viewmodel/HMSAnalyticsViewModel.java" target-dir="src/com/huawei/hms/cordova/analytics/viewmodel" />
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/presenter/HMSAnalyticsContract.java" target-dir="src/com/huawei/hms/cordova/analytics/presenter" />
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/analytics/HMSAnalyticsContentProvider.java" target-dir="src/com/huawei/hms/cordova/analytics" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HMSAnalytics">
                <param name="ios-package" value="CordovaHMSAnalytics" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/CordovaHMSAnalytics.swift" />
        <source-file src="src/ios/HMSAnalyticsLogger.swift" />
        <source-file src="src/ios/HMSAnalyticsViewModel.swift" />
        <source-file src="src/ios/AppDelegate+HMSAnalyticsPlugin.m" />
        <header-file src="src/ios/AppDelegate+HMSAnalyticsPlugin.h" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods use-frameworks="true">
                <pod name="HiAnalytics" spec="5.1.0.300" />
            </pods>
        </podspec>
    </platform>
</plugin>