<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-hms-contactshield" version="5.0.4-302" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>HMS Contact Shield</name>
	<description>Cordova HMS Contact Shield Plugin</description>
	<license>Apache 2.0</license>
	<keywords>cordova,contactshield,hms-contactshield,huawei-contactshield,hms,huawei</keywords>

	<js-module name="HMSContactShield" src="www/HMSContactShield.js">
		<clobbers target="HMSContactShield"/>
	</js-module>

	<js-module name="index" src="www/index.js"/>
	<js-module name="utils" src="www/utils.js"/>

	<platform name="android">
		<hook type="after_plugin_install" src="hooks/after_plugin_install.js"/>
		<hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall.js"/>

		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-permission android:name="android.permission.BLUETOOTH"/>
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
		</config-file>

		<config-file target="config.xml" parent="/*">
			<feature name="HMSContactShield">
				<param name="android-package" value="com.huawei.hms.cordova.contactshield.HMSContactShield"/>
			</feature>
		</config-file>

		<framework src="com.huawei.hms:contactshield:5.0.4.302"/>
		<framework src="src/android/build-extras.gradle" custom="true" type="gradleReference"/>

		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/ContactShieldModule.java" target-dir="src/com/huawei/hms/cordova/contactshield/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/HMSContactShield.java" target-dir="src/com/huawei/hms/cordova/contactshield/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/CordovaBaseModule.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/CordovaEvent.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/CordovaMethod.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/HMSLog.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/handler/CorPack.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/handler/CordovaController.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/handler/CordovaEventRunner.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/handler/CordovaModuleGroupHandler.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/handler/CordovaModuleHandler.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/handler/HMSLogger.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/handler/NoSuchCordovaModuleException.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/basef/handler/Promise.java" target-dir="src/com/huawei/hms/cordova/contactshield/basef/handler/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/constants/IntentAction.java" target-dir="src/com/huawei/hms/cordova/contactshield/constants/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/constants/RequestCode.java" target-dir="src/com/huawei/hms/cordova/contactshield/constants/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/handlers/ContactShieldBroadcastReceiver.java" target-dir="src/com/huawei/hms/cordova/contactshield/handlers/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/handlers/ContactShieldCallbackHandler.java" target-dir="src/com/huawei/hms/cordova/contactshield/handlers/"/>
		<source-file src="src/android/src/main/java/com/huawei/hms/cordova/contactshield/utils/ObjectProvider.java" target-dir="src/com/huawei/hms/cordova/contactshield/utils/"/>
	</platform>
</plugin>
