<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-hms-safetydetect"
    version="5.0.3-300">

    <name>cordova-plugin-hms-safetydetect</name>
    <description>Huawei Safety Detect Cordova Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,hms</keywords>

    <repo>https://github.com/HMS-Core/hms-cordova-plugin.git.git</repo>
    <issue>https://github.com/HMS-Core/hms-cordova-plugin.git/issues</issue>


    <js-module src="www/HMSSafetyDetect.js" name="HMSSafetyDetect">
        <clobbers target="HMSSafetyDetect" />
    </js-module>
    <js-module src="www/utils.js" name="utils"/>

    <!-- android -->
    <platform name="android">
        <!-- Hooks for resouces and dependencies -->
        <hook src="hooks/after_plugin_install.js" type="after_plugin_install"/>
        <hook src="hooks/before_plugin_uninstall.js" type="before_plugin_uninstall"/>
        <hook src="hooks/after_prepare.js" type="after_prepare"/>

        <!-- Android dependencies -->
        <framework src="resources/plugin.gradle" type="gradleReference" custom="true"/>
        <framework src="com.huawei.hms:safetydetect:5.0.3.300"/>

        <!-- Manifest permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <!-- Manifest configurations -->
        <edit-config target="/manifest/application" mode="merge" file="AndroidManifest.xml">
            <application android:usesCleartextTraffic="true"/>
        </edit-config>

        <!-- config.xml configurations -->
        <config-file target="config.xml" parent="/*">
            <feature name="HMSSafetyDetect">
                <param name="android-package" value="com.huawei.hms.cordova.safetydetect.HMSSafetyDetect"/>
            </feature>
        </config-file>        

        <!-- Java Files -->
        <source-file src="src/main/java/com/huawei/hms/cordova/safetydetect/HMSSafetyDetect.java" target-dir="src/com/huawei/hms/cordova/safetydetect" />
        <!-- utils -->        
        <source-file src="src/main/java/com/huawei/hms/cordova/safetydetect/utils/HMSSafetyDetectUtils.java" target-dir="src/com/huawei/hms/cordova/safetydetect/utils" />
        <!-- logger -->        
        <source-file src="src/main/java/com/huawei/hms/cordova/safetydetect/logger/HMSLogger.java" target-dir="src/com/huawei/hms/cordova/safetydetect/logger" />
        <!-- helper -->        
        <source-file src="src/main/java/com/huawei/hms/cordova/safetydetect/helpers/HMSFailureResultHelper.java" target-dir="src/com/huawei/hms/cordova/safetydetect/helpers" />

    </platform>

</plugin>

