<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-hms-location"
    version="5.0.0">

    <name>cordova-plugin-hms-location</name>
    <description>cordova-plugin-hms-location</description>
    <license>Apache 2.0</license>
    <keywords>cordova,hms</keywords>

    <js-module src="www/utils.js" name="utils" />

    <js-module src="www/HMSLocationKit.js" name="HMSLocationKit">
        <clobbers target="HMSLocationKit" />
    </js-module>

    <js-module src="www/HMSFusedLocation.js" name="HMSFusedLocation">
        <clobbers target="HMSFusedLocation" />
    </js-module>

    <js-module src="www/HMSActivityIdentification.js" name="HMSActivityIdentification">
        <clobbers target="HMSActivityIdentification" />
    </js-module>

    <js-module src="www/HMSGeofence.js" name="HMSGeofence">
        <clobbers target="HMSGeofence" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="HMSLocationKit">
                <param name="android-package" value="com.huawei.hms.cordova.location.HMSLocationKit"/>
            </feature>
            <feature name="HMSFusedLocation">
                <param name="android-package" value="com.huawei.hms.cordova.location.HMSFusedLocation"/>
            </feature>
            <feature name="HMSActivityIdentification">
                <param name="android-package" value="com.huawei.hms.cordova.location.HMSActivityIdentification"/>
            </feature>
            <feature name="HMSGeofence">
                <param name="android-package" value="com.huawei.hms.cordova.location.HMSGeofence"/>
            </feature>
        </config-file>

        <!-- Source files -->
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/helpers/Constants.java" target-dir="src/com/huawei/hms/cordova/location/backend/helpers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/helpers/Exceptions.java" target-dir="src/com/huawei/hms/cordova/location/backend/helpers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/helpers/HMSBroadcastReceiver.java" target-dir="src/com/huawei/hms/cordova/location/backend/helpers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/helpers/LocationCallbackWithHandler.java" target-dir="src/com/huawei/hms/cordova/location/backend/helpers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/helpers/Pair.java" target-dir="src/com/huawei/hms/cordova/location/backend/helpers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/ActivityHolder.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/EventSender.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/HMSCallback.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/HMSProvider.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/JSONMapper.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/JSONTriMapper.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/Mapper.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/PermissionHandler.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/ResultHandler.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/interfaces/TriMapper.java" target-dir="src/com/huawei/hms/cordova/location/backend/interfaces" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/logger/HMSLogger.java" target-dir="src/com/huawei/hms/cordova/location/backend/logger" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/logger/HMSMethod.java" target-dir="src/com/huawei/hms/cordova/location/backend/logger" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/providers/ActivityIdentificationProvider.java" target-dir="src/com/huawei/hms/cordova/location/backend/providers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/providers/FusedLocationProvider.java" target-dir="src/com/huawei/hms/cordova/location/backend/providers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/providers/GeofenceProvider.java" target-dir="src/com/huawei/hms/cordova/location/backend/providers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/utils/ActivityUtils.java" target-dir="src/com/huawei/hms/cordova/location/backend/utils" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/utils/GeofenceUtils.java" target-dir="src/com/huawei/hms/cordova/location/backend/utils" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/utils/LocationUtils.java" target-dir="src/com/huawei/hms/cordova/location/backend/utils" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/utils/PermissionUtils.java" target-dir="src/com/huawei/hms/cordova/location/backend/utils" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/backend/utils/PlatformUtils.java" target-dir="src/com/huawei/hms/cordova/location/backend/utils" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/HMSActivityIdentification.java" target-dir="src/com/huawei/hms/cordova/location" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/HMSFusedLocation.java" target-dir="src/com/huawei/hms/cordova/location" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/HMSGeofence.java" target-dir="src/com/huawei/hms/cordova/location" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/HMSLocationKit.java" target-dir="src/com/huawei/hms/cordova/location" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/helpers/CordovaCallback.java" target-dir="src/com/huawei/hms/cordova/location/helpers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/helpers/CordovaUtils.java" target-dir="src/com/huawei/hms/cordova/location/helpers" />
        <source-file src="src/main/java/com/huawei/hms/cordova/location/helpers/HMSCordovaPlugin.java" target-dir="src/com/huawei/hms/cordova/location/helpers" />

        <!-- Android dependencies -->
        <framework src="res/android/plugin.gradle" custom="true" type="gradleReference" />

        <!-- Android permissions -->
        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
          <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
          <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
          <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
          <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
          <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="com.huawei.hms.permission.ACTIVITY_RECOGNITION" />
        </config-file>

    </platform>

</plugin>
