<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-hms-location" version="5.1.0.304" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HMS Location</name>
    <description>Cordova HMS Location Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,location,hms-location,huawei-location,hms,huawei</keywords>

    <js-module name="HMSLocation" src="www/HMSLocation.js">
        <clobbers target="HMSLocation"/>
    </js-module>
    <js-module name="activityIdentificationService" src="www/activityIdentificationService.js"/>
    <js-module name="enums" src="www/enums.js"/>
    <js-module name="fusedLocationService" src="www/fusedLocationService.js"/>
    <js-module name="geofenceService" src="www/geofenceService.js"/>
    <js-module name="interfaces" src="www/interfaces.js"/>
    <js-module name="utils" src="www/utils.js"/>

    <!-- ANDROID PLATFORM -->
    <platform name="android">
        <hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall.js"/>
        <hook type="after_plugin_install" src="hooks/after_plugin_install.js"/>

        <config-file target="config.xml" parent="/*">
            <feature name="HMSLocation">
                <param name="android-package" value="com.huawei.hms.cordova.location.HMSLocation"/>
            </feature>
        </config-file>
        <!-- receiver -->
        <config-file target="AndroidManifest.xml" parent="application">
            <receiver android:name="com.huawei.hms.cordova.location.helpers.LocationBroadcastReceiver"
                      android:exported="true">
                <intent-filter>
                    <action android:name="com.huawei.hms.location.ACTION_PROCESS_GEOFENCE"/>
                    <action android:name="com.huawei.hms.location.ACTION_PROCESS_ACTIVITY_IDENTIFICATION"/>
                    <action android:name="com.huawei.hms.location.ACTION_PROCESS_ACTIVITY_CONVERSION"/>
                    <action android:name="com.huawei.hms.location.ACTION_PROCESS_LOCATION"/>
                </intent-filter>
            </receiver>
        </config-file>
        <!-- uses-permissions -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
            <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
            <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="com.huawei.hms.permission.ACTIVITY_RECOGNITION"/>
        </config-file>
        <!-- dependencies -->
        <framework src="com.huawei.hms:location:5.1.0.303"/>
        <framework src="androidx.core:core:1.3.2"/>
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference"/>
        <!-- source files -->
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/HMSLocation.java"
                     target-dir="src/com/huawei/hms/cordova/location/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/CordovaBaseModule.java"
                     target-dir="src/com/huawei/hms/cordova/location/basef/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/CordovaEvent.java"
                     target-dir="src/com/huawei/hms/cordova/location/basef/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/CordovaMethod.java"
                     target-dir="src/com/huawei/hms/cordova/location/basef/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/HMSLog.java"
                     target-dir="src/com/huawei/hms/cordova/location/basef/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/handler/CorLog.java"
                     target-dir="src/com/huawei/hms/cordova/location/basef/handler/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/handler/CorPack.java"
                     target-dir="src/com/huawei/hms/cordova/location/basef/handler/"/>
        <source-file
                src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/handler/CordovaController.java"
                target-dir="src/com/huawei/hms/cordova/location/basef/handler/"/>
        <source-file
                src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/handler/CordovaEventRunner.java"
                target-dir="src/com/huawei/hms/cordova/location/basef/handler/"/>
        <source-file
                src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/handler/CordovaModuleGroupHandler.java"
                target-dir="src/com/huawei/hms/cordova/location/basef/handler/"/>
        <source-file
                src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/handler/CordovaModuleHandler.java"
                target-dir="src/com/huawei/hms/cordova/location/basef/handler/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/handler/HMSLogger.java"
                     target-dir="src/com/huawei/hms/cordova/location/basef/handler/"/>
        <source-file
                src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/handler/NoSuchCordovaModuleException.java"
                target-dir="src/com/huawei/hms/cordova/location/basef/handler/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/basef/handler/Promise.java"
                     target-dir="src/com/huawei/hms/cordova/location/basef/handler/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/helpers/BackgroundManager.java"
                     target-dir="src/com/huawei/hms/cordova/location/helpers/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/helpers/BackgroundTaskHandler.java"
                     target-dir="src/com/huawei/hms/cordova/location/helpers/"/>
        <source-file
                src="src/android/src/main/java/com/huawei/hms/cordova/location/helpers/LocationBroadcastReceiver.java"
                target-dir="src/com/huawei/hms/cordova/location/helpers/"/>
        <source-file
                src="src/android/src/main/java/com/huawei/hms/cordova/location/helpers/LocationCallbackHandler.java"
                target-dir="src/com/huawei/hms/cordova/location/helpers/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/utils/json/JSONToObject.java"
                     target-dir="src/com/huawei/hms/cordova/location/utils/json/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/utils/json/ObjectToJSON.java"
                     target-dir="src/com/huawei/hms/cordova/location/utils/json/"/>
        <source-file
                src="src/android/src/main/java/com/huawei/hms/cordova/location/services/ActivityIdentificationService.java"
                target-dir="src/com/huawei/hms/cordova/location/services/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/services/FusedLocationService.java"
                     target-dir="src/com/huawei/hms/cordova/location/services/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/services/GeofenceService.java"
                     target-dir="src/com/huawei/hms/cordova/location/services/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/services/PluginService.java"
                     target-dir="src/com/huawei/hms/cordova/location/services/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/utils/Constants.java"
                     target-dir="src/com/huawei/hms/cordova/location/utils/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/utils/CordovaUtils.java"
                     target-dir="src/com/huawei/hms/cordova/location/utils/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/utils/Exceptions.java"
                     target-dir="src/com/huawei/hms/cordova/location/utils/"/>
        <source-file src="src/android/src/main/java/com/huawei/hms/cordova/location/utils/LocationUtils.java"
                     target-dir="src/com/huawei/hms/cordova/location/utils/"/>
    </platform>
</plugin>
